# Maven / Gradle
target/
build/

# IDEs 및 에디터
.idea/
.project
.classpath
.settings/
*.iml

# 컴파일된 클래스 파일
*.class

# 로그 파일
*.log

# 운영 체제에서 생성한 파일
.DS_Store
Thumbs.db

# Spring Boot 관련 파일
spring.log

# 패키지 파일
*.jar
*.war
*.ear

# 애플리케이션 설정 파일
application.yml
application.properties

# Apache Tomcat 디렉토리
apache-tomcat-9/

# Eclipse .metadata 디렉토리 무시
.metadata/

#update