<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sml.mapper.CommunityReplyMapper">
  
  	<insert id="enrollReply">
  		INSERT INTO COMMUNITY_REPLY(COMM_CODE, MEM_CODE, REP_CONTENT) VALUES (
  			#{commCode},
  			#{memCode},
  			#{repContent, jdbcType=VARCHAR}
  		)
  	</insert>

  
  </mapper>