<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.mapper.CourseMapper">

	<insert id="courseEnroll">
    	INSERT INTO COURSE (COURSE_NAME, CCAT_CODE, COURSE_CONTENT, COURSE_LIMIT, COURSE_START_DATE, COURSE_END_DATE, TEA_CODE, COURSE_START_TIME, COURSE_END_TIME, COURSE_DAY) VALUES (
        	#{courseName},
        	#{ccatCode},
        	#{courseContent},
        	#{courseLimit},
        	#{startDate, jdbcType=DATE},
        	#{endDate, jdbcType=DATE},
        	#{teaCode},
        	#{startTime, jdbcType=TIME},
        	#{endTime, jdbcType=TIME}, 
        	#{courseDay}
    	)
	</insert>
	
	<select id="cateList" resultType="com.sml.model.CourseCategoryVO">
		SELECT 
			CCAT_TIER AS tier,
			CCAT_NAME AS ccatName,
			CCAT_CODE AS ccatCode,
			CCAT_PARENT AS parentCode
		 FROM COURSE_CATEGORY ORDER BY CCAT_CODE
	</select>
	
	<select id="courseList" resultType="com.sml.model.CourseVO">
    	<![CDATA[
    		SELECT * FROM (
    			SELECT 
    				ROWNUM AS rn,
    				c.COURSE_CODE AS courseCode,
    				c.COURSE_START_DATE AS startDate,
    				c.COURSE_END_DATE AS endDate,
    				ccat.CCAT_NAME AS ccatName,
    				c.COURSE_NAME AS courseName,
    				t.TEA_NAME AS teaName,
    				c.COURSE_DAY AS courseDay,
    				c.COURSE_START_TIME AS startTime,
    				c.COURSE_END_TIME AS endTime,
    				c.COURSE_LIMIT AS courseLimit
    			 FROM COURSE c
    			 JOIN COURSE_CATEGORY ccat ON c.CCAT_CODE = ccat.CCAT_CODE
    	 		 JOIN COURSE_TEACHER t ON c.TEA_CODE = t.TEA_CODE
    	 		 WHERE c.COURSE_STATUS = 'N' AND	
    	]]>   	
    		<if test="keyword != null">
                COURSE_NAME like '%'||#{keyword}||'%' AND
            </if>
        <![CDATA[
        		ROWNUM <= #{pageNum}*#{amount}
            	)
        	WHERE rn > (#{pageNum} - 1) * #{amount}       	
        ]]>  	 	
	</select>
	
	<select id="courseTotal" resultType="int">	
		SELECT COUNT(*) FROM COURSE
		
		<if test="keyword != null">
			WHERE COURSE_NAME LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	<select id="courseDetail" resultType="com.sml.model.CourseVO">
		SELECT 
			c.COURSE_CODE AS courseCode,
			t.TEA_NAME AS teaName,
			c.COURSE_NAME AS courseName,
			c.CCAT_CODE AS ccatCode,
			c.COURSE_START_DATE AS startDate,
			c.COURSE_END_DATE AS endDate,
			c.COURSE_START_TIME AS startTime,
			c.COURSE_END_TIME AS endTime,
			c.COURSE_DAY AS courseDay,
			c.COURSE_LIMIT AS courseLimit,
			c.COURSE_POINT AS coursePoint,
			c.COURSE_CONTENT AS courseContent,
			ccat.CCAT_NAME AS ccatName
		 FROM COURSE c
		 JOIN COURSE_CATEGORY ccat ON c.CCAT_CODE = ccat.CCAT_CODE
    	 JOIN COURSE_TEACHER t ON c.TEA_CODE = t.TEA_CODE	
    	 WHERE COURSE_CODE = #{courseCode} 		
	</select>
	
	<update id="courseModify">
		UPDATE COURSE
			SET
				COURSE_NAME = #{courseName, jdbcType=VARCHAR},
				TEA_CODE = #{teaCode},
				CCAT_CODE = #{ccatCode},
				COURSE_LIMIT = #{courseLimit},
				COURSE_START_DATE = #{startDate, jdbcType=DATE},
        		COURSE_END_DATE = #{endDate, jdbcType=DATE},
				COURSE_START_TIME = #{startTime, jdbcType=VARCHAR},
				COURSE_END_TIME = #{endTime, jdbcType=VARCHAR},
				COURSE_DAY = #{courseDay, jdbcType=VARCHAR},
				COURSE_CONTENT = #{courseContent, jdbcType=VARCHAR},
				COURSE_MODIFY_DATE = SYSDATE
			WHERE COURSE_CODE = #{courseCode, jdbcType=VARCHAR}
	</update>
	
	<update id="courseDelete">
		UPDATE COURSE
			SET 
				COURSE_STATUS = 'Y'
			WHERE 
				COURSE_CODE = #{courseCode}
	</update>
	
	<select id="courseApplyDetail" resultType="com.sml.model.CourseVO">
		SELECT 
			c.COURSE_CODE AS courseCode,		
			c.COURSE_NAME AS courseName,
			t.TEA_NAME AS teaName,
			c.COURSE_START_DATE AS startDate,
			c.COURSE_END_DATE AS endDate,
			c.COURSE_START_TIME AS startTime,
			c.COURSE_END_TIME AS endTime,
			c.COURSE_DAY AS courseDay,
			c.COURSE_LIMIT AS courseLimit,
			c.COURSE_POINT AS coursePoint
		 FROM COURSE c
		 JOIN COURSE_TEACHER t ON c.TEA_CODE = t.TEA_CODE	
    	 WHERE COURSE_CODE = #{courseCode}
	</select>
	
</mapper>
