<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.mapper.CourseApplyMapper">
	
	<insert id="courseApply">
		INSERT INTO COURSE_APPLICANT (MEM_CODE, COURSE_CODE) VALUES (
			#{memCode},
			#{courseCode}
		)
	</insert>
	
	<select id="courseTotal" resultType="int">
  		SELECT COUNT(*) FROM COURSE_APPLICANT
  		<if test="keyword != null">
  			WHERE APPLY_CODE LIKE '%' || #{keyword} || '%'
  		</if>
  	</select>
	
	<delete id="cancelApply">
		DELETE FROM COURSE_APPLICANT WHERE APPLY_CODE = #{applyCode}
	</delete>
	
	<select id="applyList" resultType="com.sml.model.CourseApplyDTO">
		SELECT
			a.APPLY_CODE AS applyCode,
			a.APPLY_DATE AS applyDate,
			a.MEM_CODE AS memCode,
			m.MEM_NAME AS memName,
			a.COURSE_CODE AS courseCode,
			c.COURSE_NAME AS courseName,
			c.COURSE_START_DATE AS courseStartDate
		 FROM COURSE_APPLICANT a
		 JOIN COURSE c ON a.COURSE_CODE = c.COURSE_CODE
		 JOIN TB_MEMBER m ON a.MEM_CODE = m.MEM_CODE
		 WHERE a.MEM_CODE = #{memCode}
	</select>
	
	<select id="applyCheck" resultType="com.sml.model.CourseApplyDTO">
		SELECT * FROM COURSE_APPLICANT WHERE MEM_CODE = #{memCode} AND COURSE_CODE = #{courseCode}
	</select>

	
</mapper>