<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sml.mapper.NoticeMapper">

	<resultMap id="noticeResultMap" type="com.sml.model.NoticeVO">
		<id property="noticeCode" column="NOTICE_CODE" />
		<result property="memCode" column="MEM_CODE" />
		<result property="categoryCode" column="CATEGORY_CODE" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeBody" column="NOTICE_BODY" />
		<result property="noticeEnroll" column="NOTICE_ENROLL_DATE" />
		<result property="noticeModify" column="NOTICE_MODIFY_DATE" />
		<result property="noticeLike" column="NOTICE_LIKE" />
		<result property="noticeStatus" column="NOTICE_STATUS" />
		<result property="noticeCount" column="NOTICE_COUNT" />
		 <result property="memName" column="MEM_NAME"/>
	</resultMap>


	<!-- 공지사항 글 등록 -->
<insert id="noticeRegister" useGeneratedKeys="true" keyProperty="noticeCode" keyColumn="NOTICE_CODE">
    INSERT INTO NOTICE (NOTICE_TITLE, NOTICE_BODY, MEM_CODE)
    VALUES (#{noticeTitle}, #{noticeBody}, #{memCode})
</insert>

	
<!-- 이미지파일 업로드 -->
<insert id="imageEnroll">
    INSERT INTO FILE_UP (
        NOTICE_CODE, 
        FILE_NAME,
        FILE_PATH,
        FILE_UUID,
        FILE_TYPE
    ) VALUES (
        #{noticeCode},
        #{fileName},
        #{filePath},
        #{fileUuid},
        'NOTICE'
    )
</insert>

   <!-- 검색기능 -->
    <sql id="search">
        <if test="type != null and type != ''">
            <if test="type == 'T'.toString()">
                AND NOTICE_TITLE LIKE '%'||#{keyword}||'%'
            </if>
            <if test="type == 'C'.toString()">
                AND NOTICE_BODY LIKE '%'||#{keyword}||'%'
            </if>
            <if test="type == 'TC'.toString()">
                AND (NOTICE_TITLE LIKE '%'||#{keyword}||'%' OR NOTICE_BODY LIKE '%'||#{keyword}||'%')
            </if>
        </if>
    </sql>

      <!-- 공지사항 조회 -->
    <select id="noticeGetList" resultType="com.sml.model.NoticeVO" resultMap="noticeResultMap">
    <![CDATA[
        SELECT * FROM (
            SELECT
                ROWNUM AS rn, NOTICE_CODE, NOTICE_TITLE, NOTICE_ENROLL_DATE, NOTICE_COUNT, NOTICE_LIKE
            FROM NOTICE
            WHERE NOTICE_STATUS = 'N'
    ]]>
            <include refid="search"></include>
    <![CDATA[
            AND ROWNUM <= #{pageNum} * #{amount}
        )
        WHERE rn > (#{pageNum} - 1) * #{amount}
    ]]>
    </select>

       <!-- 공지사항 페이징 -->
     	<select id="noticeGetTotal" resultType="int">
  		SELECT COUNT(*) FROM NOTICE
  		<if test="keyword != null">
  			WHERE NOTICE_TITLE LIKE '%' || #{keyword} || '%'
  		</if>
  		 <include refid="search"></include>
  	</select>

	
	<!-- 공지사항 상세조회 -->
<select id="noticeGetDetail" resultType="com.sml.model.NoticeVO" resultMap="noticeResultMap">
    SELECT n.*, m.MEM_NAME
    FROM NOTICE n
    LEFT JOIN TB_MEMBER m ON n.MEM_CODE = m.MEM_CODE
    WHERE n.NOTICE_CODE = #{noticeCode}
</select>

 <!-- 조회수 증가 -->
    <update id="noticeCount" parameterType="int">
        UPDATE NOTICE
        SET NOTICE_COUNT = COALESCE(NOTICE_COUNT, 0) + 1
        WHERE notice_code = #{noticeCode}
    </update>

<!-- 좋아요 증가 -->
<update id="noticeLike" parameterType="int">
    UPDATE NOTICE
    SET NOTICE_LIKE = COALESCE(NOTICE_COUNT, 0) + 1
    WHERE NOTICE_CODE = #{noticeCode}
</update>


	<!-- 공지사항 수정 -->
	<update id="noticeModify">
		update NOTICE SET NOTICE_TITLE=#{noticeTitle},
		NOTICE_BODY=#{noticeBody},
		NOTICE_MODIFY_DATE=sysdate
		where
		NOTICE_CODE=#{noticeCode}
	</update>

    <!--  공지사항 삭제  -->
	<update id="noticeDelete">
		UPDATE NOTICE
		SET NOTICE_STATUS ='Y'
		WHERE NOTICE_CODE=#{noticeCode}
	</update> 
	

</mapper>