<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sml.mapper.NoticeMapper">

	<resultMap id="noticeResultMap" type="com.sml.model.NoticeVO">
		<id property="noticeCode" column="NOTICE_CODE" />
		<result property="memCode" column="MEM_CODE" />
		<result property="categoryCode" column="CATEGORY_CODE" />
		<result property="noticeTitle" column="NOTICE_TITLE" />
		<result property="noticeBody" column="NOTICE_BODY" />
		<result property="noticeEnroll" column="NOTICE_ENROLL_DATE" />
		<result property="noticeModify" column="NOTICE_MODIFY_DATE" />
		<result property="noticeLike" column="NOTICE_LIKE" />
		<result property="noticeStatus" column="NOTICE_STATUS" />
		<result property="noticeCount" column="NOTICE_COUNT" />
	</resultMap>


	<!-- 공지사항 글 등록 -->
	<insert id="noticeRegister">
		insert into NOTICE (NOTICE_TITLE, NOTICE_BODY,
		MEM_CODE)
		values (#{noticeTitle},#{noticeBody},#{memCode})

	</insert>

	<!-- 공지사항 글 등록 파일업로드에서 notice_code를 가져오기 위해 사용 <insert id="noticeRegister" 
		useGeneratedKeys="true" keyProperty="noticeCode"> insert into NOTICE (MEM_CODE,CATEGORY_CODE, 
		NOTICE_TITLE, NOTICE_BODY) values (#{memCode},#{categoryCode},#{noticeTitle},#{noticeBody}) 
		</insert> -->

	<!--파일 업로드 -->
	<insert id="fileUp">
		INSERT INTO FILE_UP (NOTICE_CODE, FILE_NAME,
		FILE_PATH, FILE_TYPE)
		values
		(#{noticeCode},#{FileName},#{FilePath},#{FileType})
	</insert>


	<!-- 공지사항 목록(조회) -->
	<select id="noticeGetList" resultMap="noticeResultMap"
		resultType="com.sml.model.NoticeVO">
		SELECT
		NOTICE_CODE,
		NOTICE_TITLE,
		NOTICE_ENROLL_DATE,
		NOTICE_COUNT,
		NOTICE_LIKE
		FROM
		NOTICE
	</select>

	<!-- 공지사항 상세조회 -->
	<select id="noticeGetDetail" resultType="com.sml.model.NoticeVO"
		resultMap="noticeResultMap">
		select *
		from NOTICE
		where NOTICE_CODE = #{noticeCode}
	</select>
</mapper>