@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}

/* 화면 전체 랩 */
.wrapper {
    width: 100%;
}

/* content 랩 */
.wrap {
    width: 1080px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* 홈페이지 기능 네비 */
.top_gnb_area {
    width: 100%;
    height: 50px;
    background-color: #f0f0f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top_gnb_area .list {
    display: flex;
    padding-right: 20px;
}
.top_gnb_area .list li {
    padding: 0 15px;
    font-weight: 900;
    cursor: pointer;
}

/* 관리자 페이지 상단 현페이지 정보 */
.admin_top_wrap {
    height: 110px;
    line-height: 110px;
    background-color: #5080bd;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

/* 관리자 wrap(네비+컨텐츠) */
.admin_wrap {
    display: flex;
    width: 100%;
}

/* 관리자 페이지 네비 영역 */
.admin_navi_wrap {
    width: 20%;
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
}
.admin_navi_wrap li {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ececec;
}
.admin_navi_wrap li a {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    line-height: 80px;
    color: black;
    transition: background-color 0.3s;
}
.admin_navi_wrap li a:hover {
    background-color: #f0f0f0;
}

/* 관리자페이지 컨텐츠 영역 */
.admin_content_wrap {
    width: 80%;
    padding: 20px;
    min-height: 700px;
}
.admin_content_wrap div {
    margin-top: 280px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

/* footer nav 영역 */
.footer_nav {
    width: 100%;
    height: 50px;
    background-color: #8EC0E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_nav_container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer_nav_container ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_nav_container ul li {
    padding: 0 10px;
    font-weight: bold;
    font-family: dotum;
}

/* footer 영역 */
.footer {
    width: 100%;
    height: 130px;
    background-color: #D4DFE6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
}
.footer_left img {
    width: 100px;
    height: auto;
}
.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_right span {
    font-size: 14px;
    margin-top: 5px;
}

/* float 속성 해제 */
.clearfix {
    clear: both;
}
